<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>
<ion-content [fullscreen]="true">
  <ion-card class="mtop">
    <ion-card-header>

      <img class="img-card" src="../../../assets/img/logo.jpg" alt="Foto">
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-buttons slot="secondary">
        <ion-button color ="warning" fill="solid">
          <ion-icon slot="start" name="camera-outline"></ion-icon>
          Contact
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card> 

  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="warning">
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="warning" (click)="goHome()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="goAbout()">
        <ion-icon name="accessibility-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div vertical="end" horizontal="end" slot="fixed">
    <ion-button class="btn-cerrar" fill="outline" color="warning" href="/login">Cerrar Sesión</ion-button>
  </div>
  

</ion-content>
